<% layout('layouts/boilerplate') %>
    <div class="mt-3"></div>
    <div  id="cluster-map"></div>

    <h1>All Campgrounds</h1>
    <% for (let campground of campgrounds){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.image.length){ %>
                    <img class="img-fluid" alt="" src="<%=campground.image[0].url%>">
                    <% } else { %>
                        <img class="img-fluid" src="https://res.cloudinary.com/deabjebs5/image/upload/v1706389451/YelpCamp/fxckffnagi9ao4szif5t.jpg" alt="">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.name %>
                        </h5>
                        <h5 class="card-title">
                            <%= campground.properties.popUpMarker %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campground/<%=campground._id%>">View <%=campground.name%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>

        <script>
            const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
        </script>

        <script src="/js/clusterMap.js"></script>